.reviews {
    background: #F8F8FA;
    padding: 100px 0 150px;
    @media (max-width: $md2 + px) {
        padding: 80px 0 120px;
    }
    @media (max-width: $md3 + px) {
        padding: 60px 0 100px;
    }
    @media (max-width: $md4 + px) {
        padding: 48px 0 80px;
    }
    &__body {
        @media (min-width:$md2 + px) {
            display: grid;
            grid-template: 
            [start] 'content slider' 50.5% [row2]
            [row2] 'btn slider' 38% [row-end] / 33% 66%;
            column-gap: 20px;
            row-gap: 57px;
            align-items: center;
        }
    }
    &__content {
        grid-area: content;
        align-self: end;
    }
    &__title {
        margin: 0 0 16px 0;
        @media (max-width: $md2 + px) {
            text-align: center;
        }
        @media (max-width: $md4 + px) {
            margin: 0 0 12px 0;
        }
    }
    &__text {
        @include adaptiv-font(18, 14);
        line-height: 27 / 18 * 100%;
        margin: 0 0 24px 0;
        @media (max-width: $md2 + px) {
            text-align: center;
        }
        @media (max-width: $md4 + px) {
            line-height: 21 / 14 * 100%;
            margin: 0 0 16px 0;
        }
    }
    &__rating {
        align-self: center;
        @media (max-width: $md2 + px) {
            display: flex;
            justify-content: center;
            margin: 0 0 40px 0;
        }
        @media (max-width: $md3 + px) {
            margin: 0 0 35px 0;
        }
        @media (max-width: $md4 + px) {
            margin: 0 0 32px 0;
        }
    }
    &__btn {
        grid-area: btn;
        align-self: start;
        justify-self: start;
        text-align: center;
        padding: 13px 121px;
        @media (max-width: 1200px) {
            padding: 13px 100px;
        }
        @media (max-width: 1050px) {
            padding: 13px 90px;
        }
        @media (max-width: $md3 + px) {
            width: 70%;
            display: block;
            margin: 0 auto;
        }
        @media (max-width: $md4 + px) {
            width: 100%;
        }
    }

    &__slider {
        grid-area: slider;
        min-width: 0;
        position: relative;
        @media (max-width:$md2 + px) {
            margin: 0 0 32px 0;
        }
        .slick-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    list-style: none;
                    text-align: center;
                    margin: 0 16px 0 0;
                    @media (max-width: $md4 + px) {
                        margin: 0 8px 0 0;
                    }
                }
                button {
                    font-size: 0;
                    width: 10px;
                    height: 10px;
                    color: #aaa;
                    border-radius: 50%; 
                    background: rgba(0, 0, 0, 0.3);
                    border: 1px solid #fff;
                }
            }
            .slick-list {
                overflow: hidden;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
                margin: 0 0 40px 0;
                object-fit: cover;
                @media (max-width:$md3 + px) {
                    margin: 0 0 30px 0;
                }
                @media (max-width:$md4 + px) {
                    margin: 0 0 24px 0;
                }
            }
            .slick-track {
                display: flex;
                align-items: start;
            }
            li.slick-active button {
                background: #5E7CE2;
            }

            .slick-arrow {
                position: absolute;
                top: 95.8%;
                font-size: 0;
                width: 32px;
                height: 32px;
            }
            .slick-arrow.slick-prev {
                left: 37%;
                background: url('../img/about/arrow.svg') 0 0 / 100% no-repeat;
                transform: rotateY(180deg);
                z-index: 5;
                @media (min-width:$md2 + px) {
                    margin: 0 0 0 10px;
                }
                @media (max-width:$md2 + px) {
                    display: none;
                }
            }
            .slick-arrow.slick-next {
                right: 39%;
                background: url('../img/about/arrow.svg') 0 0 / 100% no-repeat;
                @media (min-width:$md2 + px) {
                    margin: 0 10px 0 0px;
                }
                @media (max-width:$md2 + px) {
                    display: none;
                }
            }
            .slick-arrow.slick-disabled {
                opacity: 0.5;
            }
        }
        &__slide {
        }
    }

    .slide-review {
        background-color: #fff;
        &__body {
            display: flex;
            img {
                max-height: 50%;
            }
            @media (max-width: $md3 + px) {
                flex-direction: column-reverse;
                img {
                    max-height: 100%;
                }
            }
        }
        &__image {
            flex: 0 1 49.1%;
            img {
                object-fit: cover;
                width: 100%;
                min-height: 100%;
            }
        }
        &__content {
            padding: 40px 40px 134px;
            flex: 0 0 50.9%;
            @media (max-width: 1180px) {
                padding: 32px;
            }
        }
        &__review {
            @include adaptiv-font(18, 14);
            line-height: 42 / 18 * 100%;
            margin: 0 0 24px 0;
            @media (max-width: 1450px) {
                line-height: 35 / 17 * 100%;
            }
            @media (max-width: 1180px) {
                line-height: 30 / 16 * 100%;
            }
            @media (max-width: $md4 + px) {
                margin: 0;
            }
        }
        &__info {
            display: flex;
            align-items: center;
            gap: 24px;
            @media (max-width: $md3 + px) {
                display: none;
            }
        }
        &__author {
            font-weight: 500;
            font-size: 21px;
            line-height: 32 / 21 * 100%;
        }
        &__stars {
            margin: -5px 0 0 0;
        }
}
