.subtitle {
    font-weight: 500;
    @include adaptiv-font(36, 20);
    line-height: 52 / 36 * 100%;
    @media (max-width: $md4 + px) {
        line-height: 26 / 20 * 100%;
    }
}

.title {
    font-weight: 500;
    @include adaptiv-font(48, 24);
    line-height: 72 / 48 * 100%;
    @media (max-width: $md4 + px) {
        line-height: 36 / 24 * 100%;
    }
}
.text {
    @include adaptiv-font(18, 14);
    line-height: 32 / 18 * 100%;
    @media (max-width: $md4 + px) {
        line-height: 26 / 14 * 100%;
    }
}

//----------------------------------------------
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}